/* HTML Setting */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #ECFAFF;
}

/* NAVBAR STYLE */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    background-color: #fff;
}
.logo{
    width: 81px;
    height: 81px;
    align-items: left;
    padding-left: 15px;
}
.menu ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: -40px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: #0099B8;
}
.menu li{
    padding-right: 90px;
}
.menu  a{
    text-decoration: none;
    color:  #0099B8;
}
.lout{

    padding: 15px;
}

/* END NAVBAR STYLE */

/* BANNER */
.banner{
    background-color:#fff;
    display: flex;

    justify-content: space-between;

}
.ilus{
    align-items: center;
    justify-content: center;
    
}
.tagline{
    display: flex;
    margin-left: 10%;
    justify-content: center;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    color: #0099B8;
    flex-direction: column;
    }
    .ig{
        color: #A9D5FB;
    }
    
.tagline h4{
    font-size: 10px;
    font-weight: 50;
    width: 59%;
    color: #C4C4C4;
}
.tmbljoint{
    text-decoration: none;
    list-style: none;
    border-style: none;
    background-image: linear-gradient(to right, #00B4D8, #80eaff);
    width: 202px;
    height: 60px;
    border-radius: 24px;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
/* END BANNER */

/* FOOTER */
.foot{
    background-color: #0099B8;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    border-radius: 30px 30px 0px 0px;
}
.alamat{
    color: #A9D5FB;
}
.menu-foot{
    color: #A9D5FB;
    font-family: 'poppins', sans-serif; 
}
.menu-foot ul{
    color: #A9D5FB;
    list-style: none;
}
.sosmed{
    color: #A9D5FB;
}
.sosmed ul{
    color: #A9D5FB;
    list-style: none;
    line-height: 30px;
}
/* END FOOTER */

.konten{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.submit button{
    text-decoration: none;
    list-style: none;
    border-style: none;
    background-image: linear-gradient(to right, #00B4D8, #80eaff);
    width: 202px;
    height: 60px;
    border-radius:  20px;
    color: #fff;
}
.kotak ul li{
    list-style: none;
    padding-top: 10px;
}
.kotak{
    padding-right: 30px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 58px -13px rgba(0, 0, 0, 0.25);
}
.kontak{
    color: #00B4D8;
    padding-top: 10px;
}
.kontak h3{
    color: #C4C4C4;
}
.kontak ul li{
    list-style: none;
    padding-top: 30px;
}

